@import 'src/styles/vars.scss';

.modal {

  &__overlay {
    background: linear-gradient(180deg, rgba(12, 55, 0, .9) 0%, rgba(6, 27, 0, .9) 89.64%);
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow-y: auto;

    @media (max-width: 700px) {
      align-items: flex-start;
      min-height: auto;
    }
  }

  &__body {
    background: #fff;
    max-width: 585px;
    width: 100%;
  }

  &__title {
    font-size: 35px;
    line-height: (40/35);
    font-family: $cuprum;
    font-weight: 700;
  }

  &__header {
    position: relative;
    padding: 25px 25px 20px;
  }

  &__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: transform .3s ease;

    &:hover {
      transform: rotate(90deg);
    }
  }
  
  &__top {
    display: flex;
    background: linear-gradient(309.27deg, #C2D9F4 22.49%, #DBE1E5 76.72%);
  }

  &__column-name {
    display: flex;
    align-items: center;

    span {
      font-size: 16px;
      line-height: (16/14);
      font-weight: 700;
      font-family: $cuprum;
      text-transform: uppercase;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    padding: 12px 25px;

    &--left {
      border-right: 1px solid #fff;
    }

    &--right {
      border-left: 1px solid #fff;
    }

    @media (max-width: 700px) {
      padding: 12px 15px;
    }
  }

  &__num {
    font-size: 14px;
    line-height: (16/14);
    text-transform: uppercase;
    color: #49942B;
    font-family: $cuprum;
    font-weight: 700;
  }

  &__goal-item-wrap {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      @media (min-width: 701px) {
        margin-bottom: 12px;
      }
    }

    &:last-child {
      @media (min-width: 701px) {
        margin-bottom: 25px;
      }
    }

    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  &__goals-box {
    padding-top: 30px;
  }

  &__goal-label {
    background: $peachYellow;
    font-family: $cuprum;
    font-size: 14px;
    line-height: (16/14);
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 0 5px 25px;
    width: 50%;
    flex-shrink: 0;
    clip-path: polygon(
      0 0,
      calc(100% - 33px) 0,
      calc(100% - 18px) 50%,
      calc(100% - 33px) 100%,
      0 100% 
    );
    padding-right: 50px;
    min-height: 42px;
    display: flex;
    align-items: center;

    @media (max-width: 700px) {
      width: 100%;
      max-width: 280px;
    }
  }

  &__goal-list {
    @media (max-width: 700px) {
      padding: 10px 20px;
    }
  }

  &__goal-list-item {
    font-size: 13px;
    line-height: (18/13);
    color: #999;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 3px;
      height: 3px;
      background: $cannabisGreen;
      content: '';
    }
  }

  &__btn {
    width: 100%;
    font-size: 15px;
    line-height: (18/15);
    text-transform: uppercase;
    font-weight: 600;
    background: $mainGreenGradient;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      background: #53AB2F;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      transition: .3s ease;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &:active {
      &::before {
        background: #49942B;
      }
    }
  }
}

.modal-wrap{
  animation: zoomIn .5s;

  &--closed{
    animation: zoomOut .5s;
  }
}