@import "./vars";

.details {
  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      padding: 10px 0;
      border-radius: 15px;
      background-color: rgba(#F5F6FA, .5);
    }
  }
}

.detail {
  width: 100%;
  align-items: center;
  min-height: 50px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 15px;
  border-radius: 15px;

  @media (max-width: 768px) {
    min-height: auto;
    padding: 10px 10px;
    align-items: flex-start;
    border-radius: 0;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr 2.4fr;
  }

  &:nth-child(odd) {
    background-color: rgba(#F5F6FA, .5);

    @media (max-width: 768px) {
     background: none;
    }
  }

  &:first-child {
    @media (max-width: 768px) {
      border-radius: 15px 15px 0 0;
    }
  }

  &:last-child {
    @media (max-width: 768px) {
      border-radius: 0 0 15px 15px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #000000;

    @media (max-width: 600px) {
      color: #AFB2C1;
    }
  }
}