@import "vars";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: $noto-sans;
}

.root {
  &__container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //overflow: hidden;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

.section {
  padding: 110px 0;
  width: 100%;
  overflow: hidden;

  @media (max-width: 991px) {
    padding: 60px 0;
  }

  //@media (max-width: 768px) {
  //  padding: 45px 0;
  //}

}


.title {
  font-family: $noto-sans;
  font-size: 60px;
  font-weight: 900;
  line-height: (75/60);
  text-align: center;
  color: $dark;

  @media (max-width: 991px) {
    font-size: 50px;
  }

  @media (max-width: 600px) {
    font-size: 40px;
  }

  span {
    color: $another;
  }

  &--center {
    text-align: center;
  }

  &--small {
    font-size: 45px;
    font-weight: 700;
    line-height: (57/45);

    @media (max-width: 991px) {
      font-size: 35px;
    }

    @media (max-width: 600px) {
      font-size: 25px;
    }
  }

  &--light {
    color: $light;
  }
}

.subtitle {
  font-family: $noto-sans;
  font-weight: 700;
  font-size: 27px;
  line-height: (38/27);

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 15px;
  }
}

.text {
  font-size: 16px;
  line-height: 1.7;
  color: $dark;

}

button {
  outline: none;
  border: none;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
  max-width: 1200px;

  @media (max-width: 600px) {
    padding: 0 20px;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none !important;
}

.link-btn {
  font-family: $noto-sans;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px 15px;
  border-radius: 100px;
  transition: .3s ease;
  position: relative;
  text-transform: uppercase;
  letter-spacing: .5px;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: 10px;
    position: relative;
    top: 0;
  }

  &--dark {
    background: $dark;
    border: 2px solid $light;

    &:hover {
      background-color: $another;
    }
  }

  &--light {
    background: $another;
    border: 2px solid $light;

    &:hover {
      background-color: $dark;
    }
  }

  &--sm {
    padding: 12px 15px 10px;

    svg {
      top: -2px;
    }
  }

  span {
    z-index: 1;
    position: relative;
  }

  &:hover {

  }

  &:active {
    box-shadow: 0 5px 10px rgba(#000, .2);
  }
}

.hidden {
  display: none !important;
}

.bold {
  font-weight: 700;
  color: $dark;

  &--color {
    font-weight: 700;
    color: #33aa7e;
  }
}
