@import "vars";

// reset

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

a, button, input, textarea {
  border: none;
  outline: 0
}

button :active, button :focus, button :hover, input :active, input :focus, input :hover, textarea :active, textarea :focus, textarea :hover {
  outline: 0;
  outline-offset: 0;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  margin: 0;
}

input::placeholder{
  color: #AFB2C1;
  opacity: 1;
  transition: opacity .3s ease;
}

input:focus::placeholder, {
  opacity: 0;
  transition: opacity .3s ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// reset


.button {
  margin: 0 auto;
  width: 100%;
  max-width: 220px;
  padding: 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33AA7E;
  border-radius: 100px;
  transition: background-color .3s ease;

  span {
    position: relative;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &:hover {
    background-color: #26CF91;
  }

  &--home {
    @media (min-width: 991px) {
      display: none;
    }
  }
}

.status {
  display: inline-block;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.2;
  border-radius: 5px;
  text-transform: uppercase;

  &--confirmed, &--completed {
    background: rgba(51, 170, 126, 0.1);
    color: #218962;
  }

  &--processing {
    background: rgba(162, 166, 187, 0.1);
    color: #A2A6BB;
  }

  &--rejected, &--failed {
    background: rgba(227, 62, 35, 0.1);
    color: #E33E23;
  }

  &--type {
    width: 40px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}