$openSans: 'Open Sans', sans-serif;
$rubik: 'Rubik', sans-serif;

//colors
$dark: #091221;
$light: #fff;
$gray: #7f8d9a;
$green: #33aa7e;
$darkGreen: #298462;

$btnBgLight: #33aa7e;
$btnBgDark: #091221;
$btnColorLight: #fff;

$textDark: #3C3B4E;
$textGray: #8c9cac;