@import "fonts";

$oswald: 'Oswald', sans-serif;
$noto-sans: 'Noto-Sans', sans-serif;

$dark: #000d23;
$light: #fff;
$another: #4e70ab;
$another-light: #e2eeff;
$gradient: #000;

@mixin showVisible {
  opacity: 1;
  visibility: visible;
}

@mixin hideVisible {
  opacity: 0;
  visibility: hidden;
}