@import "../../styles/vars";

.social {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }

  a {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $another;
    margin-right: 15px;
    transition: opacity .3s ease;

    svg {
      max-width: 26px;
      max-height: 26px;
      position: relative;
      path {
        fill: #fff;
        transition: fill .3s ease;
      }
    }

    &:hover {
      opacity: .8;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
