.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(12, 12, 12, 0.9);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  // transition: 0.3s all;

  & > * {
    animation: fadeIn 0.25s ease;
  }

  &.out > * {
    animation: fadeOut 0.25s ease;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: rotate(180deg);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 2px;
      background: #c4c4c4;
      top: 48%;
      left: 30%;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.thumb {
  cursor: pointer;
}

@media (max-height: 500px) {
  .modal {
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .thumb {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes fadeOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-200%);
  }
}
