@import "../vars";

.transactions {
  &__block {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      height: 2px;
      width: 100%;
      border-radius: 1px;
      background-color: rgba(#F5F6FA, .5);
    }

  }

  &-header {
    width: 100%;
    padding: 0 20px;
    display: grid;

    @media (max-width: 991px) {
      display: none;
    }

    h6 {
      font-weight: 700;
      font-size: 13px;
      line-height: 1.2;
      color: #AFB2C1;
      padding: 10px 0;
    }
  }
}

.transaction {
  width: 100%;
  padding: 10px 20px;
  min-height: 50px;
  display: grid;
  align-items: center;
  border-radius: 15px;

  &:nth-child(even) {
    background-color: rgba(#F5F6FA, .5);
  }

  @media (max-width: 991px) {
    padding: 11px 10px;
    min-height: unset;
  }

  &--active {
    &:nth-child(odd) {
      .transaction-cell--main:before {
        background-color: rgba(#F5F6FA, .5);
      }
    }

    .transaction-cell {
      &--main {
        @media (max-width: 991px) {
          padding: 8px 0 23px;
          order: -1;

          .main--link {
            word-break: break-all;

          }

          &:before {
            content: '';
          }
        }
      }

      &--sm {
        @media (max-width: 991px) {
          display: grid;
        }
      }
    }

    .show-more {
      &:after {
        opacity: 0;
      }
    }

    .transaction-cell-mobile__header {
      margin-bottom: 15px;
    }
  }

  &--in {
    .transaction-cell {
      &-mobile__amount {
        color: #218962;

        &:before {
          content: '+ ';
          top: 1px;
        }
      }

      &--link-out {
        pointer-events: none;
        color: #000;
      }
    }
  }

  &--out {
    .transaction-cell {
      &-mobile__amount {
        color: #E33E23;

        &:before {
          content: '- ';
        }
      }

      &--link-in {
        pointer-events: none;
        color: #000;
      }
    }

  }

  &-cell {
    width: 100%;
    position: relative;
    display: grid;

    @media (max-width: 991px) {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-column-gap: 10px;
      align-items: flex-start;
      padding: 9px 0;
      overflow: unset;
    }

    &--main {
      @media (max-width: 991px) {
        grid-template-columns: 1fr 3fr;
      }

      .main--link {
        @media (max-width: 991px) {
          width: calc(100% - 35px);
        }
      }

      &:before {
        content: none;
        position: absolute;
        bottom: 8px;
        left: -15px;
        width: calc(100% + 30px);
        height: 2px;
        background-color: #fff;
      }
    }

    &--sm {
      @media (max-width: 991px) {
        display: none;
      }
    }

    &__name {
      display: none;
      font-weight: 700;
      font-size: 13px;
      line-height: 1.2;
      color: #AFB2C1;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 991px) {
        display: inline-block;
      }
    }

    &--desktop {
      @media (max-width: 991px) {
        display: none;
      }
    }

    &-mobile {
      @media (min-width: 991px) {
        display: none;
      }

      &__header {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 30px;
        grid-column-gap: 10px;
        align-items: center;

        @media (max-width: 600px) {
          grid-column-gap: 5px;
        }
      }

      &__title-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .link {
          margin-bottom: 4px;
        }
      }

      &__amount {
        position: relative;
        text-align: right;
        font-family: $oswald;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.2;

        &:before {
          position: relative;
          font-size: 20px;
        }
      }
    }

    .amount {
      @media (max-width: 991px) {
        font-size: 15px;
        position: relative;
        top: -3px;
      }
    }
  }
}

.show-more {
  display: none;

  //position: relative;

  position: absolute;
  top: 0;
  right: 0;
  //width: 69px;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity .3s ease;

  @media (max-width: 991px) {
    display: block;
  }

  &:hover {
    opacity: .8;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #AFB2C1;
  }

  &:before {
    width: 14px;
    height: 2px;

    right: 3px;
  }

  &:after {
    width: 2px;
    height: 14px;
    right: 9px;
    transition: opacity .3s ease;
  }
}