@import "../vars";

.transaction-links {
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }

  &__content {
    padding: 7px 20px;
    display: grid;
    grid-template-columns: 22px 1fr 22px;
    grid-column-gap: 10px;
    justify-content: flex-start;
    align-items: center;
    transition: background-color .3s ease;

    @media (max-width: 768px) {
      padding: 10px;
      grid-template-columns: 22px 1fr 28px;
    }

    &:nth-child(odd) {
      background-color: rgba(#F5F6FA, .5);
    }

    &:hover {
      background-color: #EBF7F2;

      .transaction-list__hash {
        color: #218962;
      }
    }
  }

  &__hash {
    font-family: $noto-sans;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s ease;
    color: #218962;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    position: relative;

    .copy__icon {
      margin-left: 0;
    }
  }
}