.footer {
  width: 100%;
  background-color: #303A62;

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid rgba(255, 255, 255, .1);

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 20px 0 12px;
    }
  }

  &__logotype {
    transition: opacity .3s ease;

    &:hover {
      opacity: .7;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    a {
      padding: 15px;
      font-weight: 700;
      font-size: 13px;
      line-height: 1.3;
      text-transform: uppercase;
      color: #FFFFFF;
      text-decoration: none;
      transition: opacity .3s ease;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__bottom {
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__copyright {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
    color: #8DA0C2;

    @media (max-width: 768px) {
      order: 2;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      width: 100%;
      order: 1;
      flex-wrap: wrap;
      margin-bottom: 20px;
      text-align: center;
    }

    p {
      font-weight: 500;
      font-size: 13px;
      line-height: 1.3;
      color: #8DA0C2;
      margin-right: 20px;

      @media (max-width: 768px) {
        width: 100%;
        margin: 0 0 15px 0;
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }

  a {
    position: relative;
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #464F73 0%, #5D6585 100%);
    margin-right: 20px;

    svg {
      position: relative;
      path {
        transition: fill .3s ease;
      }
    }

    &:hover {

      svg path {
        fill: #303a62;
      }

      &:before {
        opacity: 1;
        transform: scale(1);
      }
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:before {
      content: "";
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(0);
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 50%;
      transition: .3s ease;
    }
  }
}





