@import "src/styles/vars.scss";

.rest {
  background-color: $dark;

  &__title {
    color: $light;
    margin-bottom: 60px;

    @media (max-width: 991px) {
      margin-bottom: 40px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 60px;


    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }

  }


  &__link-btn {
    max-width: 260px;
    margin: 0 auto;
  }

  &-gallery {


    &__wrap {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 15px;
      // TODO
      //margin-bottom: 30px;
    }

    .box {
      border-radius: 15px;
      // TODO
      //height: 220px;
      height: 240px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;

      @media (max-width: 600px) {
        height: 150px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($dark, .2);

        transition: opacity .3s ease;
      }

      &:hover {
        &:before {
          opacity: 0;
        }
      }
    }

    .a {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;

      background-image: url(/media/images/sections/gallery/a.jpg);
    }

    .b {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 2;

      background-image: url(/media/images/sections/gallery/b.jpg);
    }

    .c {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;

      background-image: url(/media/images/sections/gallery/c.jpg);
    }

    .d {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 3;

      background-image: url(/media/images/sections/gallery/d.jpg);
    }

    &__link-btn {
      max-width: 260px;
      margin: 0 auto;
    }

  }

  &-sale {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__image {
      width: 100%;
      border-radius: 15px;
      height: 300px;
      background-image: url(/media/images/sections/rest/plan.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      margin-bottom: 20px;

      @media (max-width: 991px) {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($dark, .2);

        transition: opacity .3s ease;
      }

      &:hover {
        &:before {
          opacity: 0;
        }
      }

    }

    &__content {
      width: 100%;
    }

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.3;
      color: $light;
      margin-bottom: 20px;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.7;
      color: $gray;
      margin-bottom: 20px;

      a {
        color: $green;
        transition: color .3s ease;

        &:hover {
          color: $darkGreen;
        }
      }
    }

    &__subtitle {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.7;
      color: $gray;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &__link {
      transition: opacity .3s ease;

      &:hover {
        opacity: .8;
      }
    }

  }

}